# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Pytest cache
.pytest_cache/

# IDEs and editors
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables and secrets
.env

# Flask debug file
instance/
*.db

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and misc
*.log
logs/
